
{% load static %}

 <!-- Header Section Begin -->
 <header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo">
                <a href="/"><img src="{% static 'img/Adtaskmedia-Logo-Main.png' %}" alt=""></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="main-menu mobile-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                
                                {% if user.is_authenticated %}
                                  {% if user.is_advertiser %}
                                    <li><a href="{% url 'ad-dashboard' %}">Dashboard</a></li>
                                    <li><a href="{% url 'ads' %}">Ads</a></li>
                                    <li class="mob"><a href="{% url 'logout' %}">Log out</a></li>
                                  {% else %}
                                    <li><a href="{% url 'pub-dashboard' %}">Dashboard</a></li>
                                    <li><a href="{% url 'ads' %}">Ads</a></li>
                                    <li class="mob"><a href="{% url 'logout' %}">Log out</a></li>
                                  {% endif %}
                                    
                                {% else %}
                                <li><a href="./about-us.html">About</a></li>
                                
                                <li><a href="./rooms.html">Help/ Support</a></li>
                                
                                <li class="mob"><a href="{% url 'login' %}">Log in</a></li>
                                <li  class="mob"><a href="{% url 'register' %}">Sign Up</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        <div class="top-info">
                            <ul>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Log out</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}">Log In/</a><a href="{% url 'register' %}">Sign Up</a></li>
                                {% endif %}
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->