 {% load static %}
 
 <!-- Option 1: Bootstrap Bundle with Popper -->
 <script src="{% static '/js/bootstrap.bundle.min.js' %}" ></script>
 
 <script src="{% static '/js/jquery-3.3.1.min.js' %}" ></script>
 <script src="{% static '/js/jquery.slicknav.js' %}"></script>
 <script src="{% static '/js/wow.min.js' %}"></script>
 <script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
 <script src="{% static '/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
 <script src="{% static '/js/owl.carousel.min.js' %}"></script>
 <script src="{% static '/js/main.js' %}" ></script>
 <!--script src="{% static '/js/jquery-ui.min.js' %}"></script-->

 


<!--script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script-->
<!--script src="{% static '/js/jquery.nice-select.min.js' %}"></script-->


