{% extends 'users/auth/main.html' %}
{% load static %}
{% block title %} Create An Account | adtaskmedia {% endblock title %}
{% load crispy_forms_tags %}
{% block content  %}

<style>
    .form-2{
        padding: 10px;
    }
    input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
#hint_id_password1 {
  display: none;
}
</style>


<div class="container-login100" style="background-image: url('/static/auth/images/bg-01.jpg');">
    <div class="wrap-login100 p-t-30 p-b-50">
        <span id="response-msg" class="login100-form-title p-b-41">
            Create An Account
        </span>
        <form class="login100-form validate-form form-2  p-b-33 p-t-5" method="POST">
            {% csrf_token %}
            {{ form| crispy }}
            
            <div class="d-flex justify-content-center text-center mt-2">
               <p class="lead">By signing in you agre to our terms and condition</p>
            </div>
            <div class="d-flex justify-content-center text-center">
              <p>Alredy Have an Accout? <a href="/login">Log in</a></p>
           </div>
            <div class="container-login100-form-btn m-t-32">
                <button type="submit" class="login100-form-btn">
                    Registser
                </button>
            </div>

        </form>
    </div>
</div>


{% endblock content  %}