{% extends 'users/layout/base.html' %}
{% load static %}
{% block title %} Checkout Complete| adtaskmedia {% endblock title %}
{% block content  %}

<!-- Hero Slider Begin -->
<div class="hero-slider">
    <div class="slider-item">
        <div class="single-slider-item set-bg" data-setbg="{% static '/img/main.png' %}">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6 offset-md-3">
                        <div class="ads-checkout">
                            <div class="con mt-5">
                                <i class="fas fa-check fa-2x"></i>
                                <h3>Congratulations!</h3>
                                <h4>Your ad has been published.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Slider End -->

<br><br>



{% include "users/include/footer.html" %}

{% endblock content  %}