{% extends 'users/layout/base.html' %}
{% load static %}
{% block title %} Welcome to adtask media {% endblock title %}
{% block content  %}


<!-- Hero Slider Begin -->
<div class="hero-slider">
    <div class="slider-item">
        <div class="single-slider-item set-bg" data-setbg="{% static '/img/main.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-center">World's Largest Classifieds Portal
                            & Post unlimited classifieds!.</h1>
                    </div>
                </div>
                 
            </div>
        </div>
    </div>
</div>
<!-- Hero Slider End -->

<!-- section two -->
<section class="about-section ">
    <div class="container">
          <div class="">
              <div class="row">
                <div class="col-8 section-2-box">
                    <div class="item">
                        <h3>About Us</h3>
                        <p class="medium-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis quaerat consectetur ratione maxime non nisi voluptatibus, eaque adipisci magni alias iure autem delectus necessitatibus dolorem culpa quibusdam explicabo harumLorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis quaerat consectetur ratione maxime non nisi voluptatibus, eaque adipisci magni alias iure autem delectus necessitatibus dolorem culpa quibusdam explicabo harum!</p>
                    </div>
                </div>
                <div class="col-4 section-2-box">
                    <img src="{% static '/img/cheerful-co-workers-office-during-company-meeting.jpg' %}" alt="image" class="image-fluid">
                </div>
              </div>
          </div>
    </div>
</section>
<!-- section two End -->






<!-- section four -->
<!--section class="section-container section-4 mt-5  set-bg" data-setbg="{% static '/img/bg-4.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col  section-description ">
                <h3 class="text-center"></h3>
                <div class="divider-11 wow fadeInUp d-flex justify-content-center"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center section-4-box wow fadeInUp">
                <h4>For  advertisers </h4>
                <div class="divider-1 wow fadeInUp d-flex justify-content-center"><span></span></div>
                <h1>Pay for real traffic only</h1>
                <button class="btn ads-btn">For Advertisers</button>
            </div>
            <div class="col-md-6 text-center section-4-box sect-4-box-2 wow fadeInUp">
                <h4>For Tasker</h4>
                <div class="divider-1 wow fadeInUp d-flex justify-content-center"><span></span></div>
                <h1>More revenue by Sharing Ads</h1>
                <button class="btn ads-btn">For Publisher</button>
            </div>
        </div>
    </div>
</section>
<!-- section four End -->



<!-- section three -->
<section class="section-container section-3 section-container-gray-bg">
    <div class="container">
          <div class="row">
            <div class="col  section-description ">
                <h3 class="text-center">Why Choose Us</h3>
                <div class="divider-1 wow fadeInUp d-flex justify-content-center"><span></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-3-box-icon">
                            <i class="fas fa-paperclip"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Ut wisi enim ad minim</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                            Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-3-box-icon">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Sed do eiusmod tempor</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                            Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-3-box-icon">
                            <i class="fas fa-cloud"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Quis nostrud exerci tat</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                            Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 section-3-box wow fadeInLeft">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-3-box-icon">
                            <i class="fab fa-google"></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>Minim veniam quis nostrud</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                            Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section three End -->

 <!--  section 5 start -->
 <section class="mb-5 mt-5 " data-setbg="{% static 'img/bg-8.jpg' %}">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-header">
            <h2 class="section-title"><span class="font-weight-normal">How</span> <b class="base--color">Adtaskmedia</b> <span class="font-weight-normal">Works For Advertisers</span></h2>
            <p>Get involved in our tremendous platform and Invest. We will utilize your money and give you profit in your wallet automatically.</p>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row justify-content-center mb-none-30">
        <div class="col-lg-4 col-md-6 work-item mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <i class="fa fa-user base--color"></i>
              <span class="step-number">01</span>
            </div>
            <div class="work-card__content">
              <h4 class="base--color mb-3">Create Account</h4>
            </div>
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-4 col-md-6 work-item mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <i class="fa fa-plus base--color"></i>
              <span class="step-number">02</span>
            </div>
            <div class="work-card__content">
              <h4 class="base--color mb-3">Create ads</h4>
            </div>
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-4 col-md-6 work-item mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <i class="fas fa-group base--color"></i>
              <span class="step-number">03</span>
            </div>
            <div class="work-card__content">
              <h4 class="base--color mb-3">Get Buyer</h4>
            </div>
          </div><!-- work-card end -->
        </div>
      </div>
    </div>
  </section>
  <!--  section 5 end  -->

   <!--  section 5b start -->
 <section class="mb-5 mt-5 " data-setbg="{% static 'img/bg-8.jpg' %}">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-header">
            <h2 class="section-title"><span class="font-weight-normal">How</span> <b class="base--color">Adtaskmedia</b> <span class="font-weight-normal">Works For Publisher</span></h2>
            <p>Get involved in our tremendous platform and Invest. We will utilize your money and give you profit in your wallet automatically.</p>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row justify-content-center mb-none-30">
        <div class="col-lg-4 col-md-6 work-item mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <i class="fas fa-user-plus base--color"></i>
              <span class="step-number">01</span>
            </div>
            <div class="work-card__content">
              <h4 class="base--color mb-3">Create Account</h4>
            </div>
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-4 col-md-6 work-item mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <i class="fas fa-paperclip base--color"></i>
              <span class="step-number">02</span>
            </div>
            <div class="work-card__content">
              <h4 class="base--color mb-3">Share ads</h4>
            </div>
          </div><!-- work-card end -->
        </div>
        <div class="col-lg-4 col-md-6 work-item mb-30">
          <div class="work-card text-center">
            <div class="work-card__icon">
              <i class="fas fa-cloud base--color"></i>
              <span class="step-number">03</span>
            </div>
            <div class="work-card__content">
              <h4 class="base--color mb-3">Get Profit</h4>
            </div>
          </div><!-- work-card end -->
        </div>
      </div>
    </div>
  </section>
  <!--  section 5b end  -->

   <!-- pricing  Section Ends -->
   <section class="pricing-section mb-30">
    <br>
    <div class="container">
        <div class="">
          <div class="title-head-subtitle ">
              <h4 class="text-center base--color ">Choose a plan that best suits you(Publisher).</h4>
          </div>
            <div class="row">

                <!--card-->
                <div class="col-lg-3 py-2  animated bounceInUp">
                      <div class="pricing-card">
                          <div class="pricing-card-header">
                              <h3 class="feature-title base--color">Beginners</h3>
                              <div style="font-size: 30px;" class=".pricing-card-range mt-5 base--color">&#8358;1,000</div>

                          </div>
                          <ul class="pricing-card-features mt-4 list-unstyled" style="color:  #48b1bf;">
                              <li>Earn 50% ROI</li>
                              <li>Duration: 7 Days</li>
                              <li>Total Return: &#8358;1,500</li>
                              <li>Referral Bonus: N250</li>
                          </ul>
                          <br class="divider">
                          <div class="action">
                            <ul class="d-flex justify-content-center">
                                <li><a class="auth-b" href="{% url 'register' %}">Register</a></li>
                            </ul>
                        </div>
                      </div>
                </div>
                <!--endcard-->

                   <!--card-->
                   <div class="col-lg-3 py-2  animated bounceInUp">
                      <div class="pricing-card">
                          <div class="pricing-card-header">
                              <h3 class="feature-title base--color">Platinum Pro</h3>
                              <div style="font-size: 30px;" class=".pricing-card-range mt-5 base--color">&#8358;1,000</div>

                          </div>
                          <ul class="pricing-card-features mt-4 list-unstyled" style="color:  #48b1bf;">
                              <li>Earn 50% ROI</li>
                              <li>Duration: 7 Days</li>
                              <li>Total Return: &#8358;1,500</li>
                              <li>Referral Bonus: N250</li>
                            </ul>
                            <br class="divider">
                            <div class="action">
                              <ul class="d-flex justify-content-center">
                                  <li><a class="auth-b" href="{% url 'register' %}">Register</a></li>
                              </ul>
                          </div>
                      </div>
                </div>
                <!--endcard-->

                   <!--card-->
                   <div class="col-lg-3 py-2  animated bounceInUp">
                      <div class="pricing-card">
                          <div class="pricing-card-header">
                              <h3 class="feature-title base--color">Platinum Pro</h3>
                              <div style="font-size: 30px;" class=".pricing-card-range mt-5 base--color">&#8358;1,000</div>

                          </div>
                          <ul class="pricing-card-features mt-4 list-unstyled" style="color:  #48b1bf;" >
                              <li>Earn 50% ROI</li>
                              <li>Duration: 7 Days</li>
                              <li>Total Return: &#8358;1,500</li>
                              <li>Referral Bonus: N250</li>
                            </ul>
                            <br class="divider">
                            <div class="action">
                              <ul class="d-flex justify-content-center">
                                  <li><a class="auth-b" href="{% url 'register' %}">Register</a></li>
                              </ul>
                          </div>
                      </div>
                </div>
                <!--endcard-->

                   <!--card-->
                   <div class="col-lg-3 py-2  animated bounceInUp">
                      <div class="pricing-card">
                          <div class="pricing-card-header">
                              <h3 class="feature-title base--color">Platinum Pro</h3>
                              <div style="font-size: 30px;" class=".pricing-card-range mt-5 base--color">&#8358;1,000</div>
                          </div>
                          <ul class="pricing-card-features mt-4 list-unstyled" style="color:  #48b1bf;">
                              <li>Earn 50% ROI</li>
                              <li>Duration: 7 Days</li>
                              <li>Total Return: &#8358;1,500</li>
                              <li>Referral Bonus: N250</li>
                            </ul>
                            <br class="divider">
                            <div class="action">
                              <ul class="d-flex justify-content-center">
                                  <li><a class="auth-b" href="{% url 'register' %}">Register</a></li>
                              </ul>
                          </div>
                      </div>
                </div>
                <!--endcard-->

             
              
             
        



            </div>
        </div>
    </div>
</section>
<br>
<!-- princing  Section Ends -->


<!--section 6-->
<section class="section-container section-6 mt-5">
    <div class="container">
        <div class="row">
            <div class="text-center comtent   justify-content-center">
                <h4>Get More audeince with us, and make money from the comfort of your home.</h4>
                
               
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn ads-btn">Get Started</a>
            </div>
        </div>
    </div>
</section>
<!--section 6 ends-->
<br><br>



{% include "users/include/footer.html" %}



{% endblock content %}